<!DOCTYPE html>
<html>
<head>
	<title> Add Store </title>
	<style type="text/css">
	button[type="submit"]
{
  float:center;
  margin-left: 30%;
  margin-bottom: 10%;
  
}

#color{
  width: 30%;

}
     
     

 .btn-floating
  {
      float: right;
      margin-right: 2%;

}
  	

		.login-form
   {
  background:#fff;
  width:40%;
  margin:9% auto 4% auto;
  position: relative;
}
      #pin{
          color: black;

      }
      .tag2
      {
    font-family: Adobe Gothic Std B;
    color: #060606  ;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    
   }
      .logo
      {
        
        height:50px;
      }
      .side-nav{
        top:20;
      }
      body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .input-field label {
     color:#000000;
   }

  main {
    flex: 1 0 auto;
  }
     
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 30px;
    line-height: 33px;
}
#sidenav-overlay{
  z-index: 0;
}
	</style>
</head>
<body class="light-blue lighten-5">

  <% if @store %>
    <% name = @store.name %>
    <% location = @store.location %>
    <% contact = @store.contact %>
    <% description = @store.description %>
    <% photo = @store.avatar %>
  <% else %>
    <% photo = '/images/store.png' %>
  <% end %>
	 <div class="login-form">
      <!--<div class="head">
            <img src="images/final.png" alt=""/>
            
            
     </div>
   -->
        
      <form class="col s12" action="/store/add/confirm" method="post" enctype="multipart/form-data">

        <h1 class="tag2">STORE INFORMATION</h1><br>
         
        <div class="display_photo">
          <img src="<%= photo %>">
        </div>
         <div class="row ">
           <div class="input-field col s12 ">
            <input id="pic" name="photo" type="file" class="validate"><br>
           <label for="pic" ><br>Upload image</label>
          </div>
          </div> 
          <br><br>  
          

         <div class="row">
            <div class="input-field col s12">
              <input  id="`name" name="name" type="text" class="validate" required="true" value="<%= name %>">
             <label for="name">NAME OF STORE</label>
            </div>
           </div>
          <% if @store %>
            <input type="hidden" name="store_id" value="<%= @store.id %>">
          <% end %>
         <div class="row">
          <div class="input-field col s12">
           <input id="loc" name="location" type="text" class="validate" value="<%= location %>">
           <label for="loc" data-error="wrong" data-success="right">LOCATION</label>
           </div>
         </div>

         <div class="row">
          <div class="input-field col s12">
           <input id="num" name="contact" type="number" class="validate" value="<%= contact %>">
           <label for="num" data-error="wrong" data-success="right">CONTACT</label>
          </div>
         </div>

            <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" name="description" class="materialize-textarea"></textarea>
          <label for="textarea1">DESCRIPTION</label>
        </div>
           </div>

            <div class="row">
            <div class="input-field col s12	disabled selected">
        <select name="category" required="true">
          <option value="">Choose your option</option>
         <option value="1">Electronics</option>
         <option value="2">Appliances</option>
         <option value="3">Men</option>
         <option value="4">Women</option>
         <option value="5">Kids</option>
         <option value="6">Books</option>
         <option value="7">Furniture</option>
         <option value="8">Others</option>
       </select>
       <label>CATEGORY</label>
        </div>
          </div>

          <div >
            <br><br>
          <button class="btn waves-effect waves-light light-blue darken-4" type="submit" name="action">Save changes
    <i class="material-icons right">done_all</i>
  </button>
</div>

    </form>
  </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.js"></script> 
<script>
        $(document).ready(function() {
          $('select').material_select();
        });
      $(function() {
          $("#txtConfirmPassword").keyup(function() {
              var password = $("#txtNewPassword").val();
              $("#divCheckPasswordMatch").html(password == $(this).val() ? "Passwords match." : "Passwords do not match!");
          });
          });
</script>

</body>
</html>